src/main/mule/maven-plugin-deploy-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4078c89e-65e3-4550-b7a1-5d74d055fac1" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="cda0dc1f-ea03-4c54-b642-38952d612e76" file="${mule.env}-properties.yaml" />
	<global-property doc:name="Global Property" doc:id="997cdf2d-3fb4-48f6-a613-6dd2310873d9" name="mule.env" value="dev" />
	<flow name="maven-plugin-deploy-demoFlow" doc:id="22b31908-4dac-4b3e-9ffe-9e076a9db3d3" >
		<http:listener doc:name="Listener" doc:id="444f5f36-e98b-443e-87d0-1651946361de" config-ref="HTTP_Listener_config" path="/maven"/>
		<set-payload value='#["Welcome to Mulesoft Enablement Mr Abebe! Wish you all the best!"]' doc:name="Set Payload" doc:id="00ebc3a2-4338-4723-be1f-d860f5c58fa2" />
	</flow>
</mule>
